.footer {
    background-color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footersuccess {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer img {
    filter: invert();
}

.footer-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-links a {
    text-decoration: none;
    color: white;
    padding: 5px;
}